.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff50;
    backdrop-filter: blur(3px);
    z-index: 999999;
}

.loading-container.hide {
    display: none;
}

.loading-container .MuiCircularProgress-root {
    color: #000;
}

.loading-container .cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading-container .loading-text {
    font-size: 14px;
    margin-top: 10px;
    color: #000;
}